/* You can find weblink to color palette used in resources/specifications/color-palette.txt */

/* Generic styles*/
* {
	box-sizing: border-box;
}

html {
	font-family: "Fira sans", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #254273;
	font-weight: 600;
}

h1 {
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 1.3;
}

h2 {
	font-size: 1.8rem;
	font-weight: 700;
}

h3 {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.4;
}

p {
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1.3;
}

@media only screen and (max-width: 774px) {
	h1 {
		font-size: 2rem;
	}
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* Site and section container styles */
.site-container {
	max-width: 64rem;
	margin: 0 auto;
}

.site-section {
	background-color: #DFE6EA;
	color: #00040A;
}

.site-section:nth-child(2n + 1) {
	background-color: #58819C;
	color: #E1E5EC;
}

.section {
	padding: 2rem 0;
  width: 100%;
  position: relative;
}

.section-header {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 774px) {
	.section-header {
		color: #00040A;
	}
}

.section-full {
	width: 100%;
	padding: 0 2rem;
}

.section-left {
	width: 60%;
	height: 100%;
	padding: 0 1.5rem;  
}

.section-left img {
	width: 100%;
	height: auto;
}

.section-left video {
	width: 100%;
	height: auto;
}

.section-left .quote {
	width: 100%;
	height: auto;
}

.section-right {
	width: 40%;
}

.section-left .quote p {
	font-family: 'Vollkorn', serif;
	font-weight: 600;
}

.scrollable {
	position: absolute;
  left: 60%;
  top: 2rem;
  bottom: 2rem;
  right: 0;
  overflow: auto;
}

@media only screen and (max-width: 774px) {
	.site-section {
		border-bottom: 1px solid #58819C;
	}

	.site-section:last-child {
		border-bottom: none;
	}

	.section {
		position: static;
		padding: 2rem 0;
		background-color: #DFE6EA;		
	}

	.section.flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.section-left {
		width: 100%;
		height: auto;
		padding: 0;  
	}

	.section-right {
		width: 100%;
	}

	.scrollable {
		position: static;
	  left: 0;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  overflow: auto;
	}
}

/* Tile container styles */
/* The tiles also could be articles in the html document when being used for syndication */
/* Flex included here instead of adding a class in html document to tile for generic use */
.tile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #58819C;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: 500ms ease;
	transition: 500ms ease;
}

.tile:hover {
	background-color: #58819C;
	color: #E1E5EC;
	cursor: pointer;
}

.tile:last-child {
	border-bottom: none;
}

.tile .image {
	width: 35%;
	padding-right: 1rem;
}

.tile .image img {
	width: 100%;
}

.tile .description {	
	width: 65%;
}

@media only screen and (max-width: 774px) {
	.tile {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		border: none;
	}

	.tile .image.mobile {
		display: block;
		width: 100%;
		padding-right: 0;
	}

	.tile .image img {
		-o-object-fit: contain;
		   object-fit: contain;
	}

	.tile .description {
		width: 100%;
		padding: 1rem;
	}
}

.mobile {
	display: none;
}

@media only screen and (max-width: 774px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

/* Header styles */
header {
	position: fixed;
	width: 100%;
	height: 4rem;
	background-color: #DFE6EA;
	border-bottom: 1px solid #58819C; 
	z-index: 10;
}

header nav {
	height: 4rem;
	padding: 0 1.5rem;
}

nav .brand {
	flex: 1;
}

.brand a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.brand a img {
	height: 3rem;
}

.brand a .name {
	color: #03283F;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.brand a .name span {
	color: #58819C;
}

nav .menu ul li {
	display: inline;
	margin-left: 1rem;
}

nav .menu ul li a {
	color: #58819C;
	transition: 500ms ease;
}

nav .menu ul li a:hover {
	color: #03283F;
}

@media only screen and (max-width: 774px) {
	nav .brand {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	nav .menu {
		-webkit-box-flex: 3;
		    -ms-flex: 3;
		        flex: 3;
	}

	nav .menu ul {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	nav .menu ul li {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		text-align: center;
		margin-left: 0;
	}

	nav .menu ul li a img {
		height: 2rem;
	}
}

/* Main content styles */
.main {
	width: 100%;
	padding-top: 64px;
}

/* Banner section */
.banner .section-right .banner-text{
	padding-right: 4rem;
}

.banner .section-right .button {
	color: white;
	background-color: #1B6966;
	text-align: center;
	padding: 0.5rem 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: 750ms ease;
	transition: 750ms ease;
}

.banner .section-right .button:hover {
	color: #00040A;
	background-color: #4F9491;
	cursor: pointer;
}

.banner .section-right h3 {
	margin: 1.5rem 0;
}

@media only screen and (max-width: 774px) {
	.banner .section{
		background-color: #58819C;
	}

	.banner .section-right .banner-text{
		padding: 2rem 1rem;
	}
}

/* Information section */
.information .section-left h2 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.information .section-left .quotee {
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-size: 0.8rem;
	margin-top: 1.5rem;
}

.information .section-left h2 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.information .section-right {	
	border: 1px solid #58819C;
}

.information .tile p {	
	margin: 0.5rem 0;
	overflow: hidden;
}

.information .tile .more a {
	font-size: 0.9rem;
	line-height: 1.3;
	font-weight: bold;
	color: #1B6966;
	-webkit-transition: 500ms ease;
	transition: 500ms ease;
}

.information .tile .more a:hover {
	color: #061C42;
}

@media only screen and (max-width: 774px) {
	.information .section-right {	
		border: none;
	}

	.information .section {	
		padding-top: 1rem;
	}
}

/* Courses section */
.courses .flex {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: -1rem;
}

/* Course container styles */
/* Also generic in use like the tile countainers */
.course {
	background-color: #DFE6EA;
	color: #00040A;
	height: 20rem;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 18rem;
	        flex: 0 0 18rem;
  margin: 1rem;
	-webkit-transition: 500ms ease;
	transition: 500ms ease;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.course:hover {
	color: #DDE8E8;
	background-color: #4F9491;
	cursor: pointer;
}

.course img {
	width: 100%;
}

.course-text {
	padding: 2rem;
}

.course h4 {
	text-transform: uppercase;
	margin: 0.5rem 0;
}

@media only screen and (max-width: 774px) {
	.courses .section {
		padding: 2rem 1rem;
	}

	.courses .mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.course {
		display: block;
		color: #E1E5EC;
		background-color: #58819C;
		margin: 0.5rem 0;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 0;
		        flex: 0 0 0;
	}

	.course:hover {
		color: #E1E5EC;
		background-color: #254273;
		cursor: pointer;
	}

	.course h3 {
		padding: 1rem;
		text-align: center;
	}
}

/* Thesis section*/
.thesis .section-left h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.thesis .section-right {
	border: 1px solid #58819C;
}

.thesis .scrollable {
	left: 60%;
  top: 6.8rem;
  bottom: 2rem;
  right: 0;
  overflow: auto;
}

/* Footer */
footer {	
	width: 100%;
	height: 4rem;
	background-color: #DFE6EA;
	border-top: 1px solid #58819C;
}

footer .flex {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1.5rem 2rem;
}

.copyright p {
	font-size: 0.8rem;
}


.legal ul li {
	font-size: 0.8rem;
	display: inline;
	margin-left: 1rem;
}